header{
  position: fixed;
  width: 100%;
  top: 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr min(120ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.wrapper > * {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}