$black: #000 !default;
$white: #fff !default;
$light-bg: #fff !default;
$dark-bg: #000 !default;
$font-bold: 500;
$font-medium: 400;
$font-light: 300;
$font-family: Arial, Helvetica, sans-serif;
$font-family-mono: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-title: 19px;
$font-size-heading: 22px;