$black: #000 !default;
$white: #fff !default;
$light-bg: #fff !default;
$light-bg-translucent: rgba(255, 255, 255, 0.7) !default;
$dark-bg: #000 !default;
$dark-bg-translucent: rgba(0, 0, 0, 0.7) !default;
$font-bold: 500;
$font-medium: 400;
$font-light: 300;
$font-family: "Wotfard",Futura,-apple-system,sans-serif;
$font-family-mono: "League Mono","Fira Mono",monospace;
$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-title: 19px;
$font-size-heading: 22px;